@model _250ml_MVC4_2.Models.Happening

<h2>Rating schreiben</h2>

@using( Html.BeginForm("AddComment", "Happening") ) {
    @Html.TextArea("Content", String.Empty)
    @Html.Hidden("UserId",WebSecurity.CurrentUserId)
    @Html.Hidden("HappeningId",Model.HappeningId)
    <input type="submit" value="save" />
}