@model _250ml_MVC4_2.Models.Happening

@if (!Model.HasRated(WebSecurity.CurrentUserId) && Request.IsAuthenticated)
{
    <div class="well well-sm">
        <h4>Veranstaltung bewerten</h4>
        @using (Html.BeginForm("Create", "Rating", FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.Hidden("UserId", WebSecurity.CurrentUserId)
            @Html.Hidden("HappeningId", Model.HappeningId)
            <select id="Value" name="Value" class="input-sm">
                <option value="" selected></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            
            <button type="submit" class="btn btn-info" style="margin-top:5px;">bewerten</button>
        }
    </div>
}
